.container {
  padding: 60px 20px;
  background-color: #fff;
}
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  max-width: 1300px;
  margin: auto;
}
.item {
  width: calc(50% - 10px);
}

@media (max-width: 800px) {
  .item {
    width: 100%;
  }
}
